.Rproj.user
.Rhistory
.RData
/R_Data_wrangling\de_Jonge+van_der_Loo-Introduction_to_data_cleaning_with_R.pdf
PB_statisiek.Rproj
/R_Statistical_Tests/R_Statistical_Tests_cache
/R_Statistical_Tests/Overview-statistic-tests-PB_cache
/R_Statistical_Tests/R_Statistical_Tests_files
